flask
flask-wtf
werkzeug
PyPDF2
nltk
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
sumy
scikit-learn
numpy
pandas
python-dotenv
gunicorn
pillow
click
itsdangerous
Jinja2
requests
